[login]
token="<bot token>"

[replay]
data_url="http://saved-games-alpha.s3-website-us-east-1.amazonaws.com/%CODE%.json.gz"
link_url="https://play.prismata.net/?r=%CODE%"
cache_directory=replays/
max_per_message=3
ignore_duplicate_time=60

[unit]
image_url="https://s3.amazonaws.com/lunarch_blog/Units/Random+Set/%NAME%.png"
link_url="https://prismata.gamepedia.com/%NAME%"
max_per_message=3
ignore_duplicate_time=60
ignored_aliases=["SPLITTER", "THE"]
